// # =================================================================
// # Variables
// # =================================================================

@import 'utilities';

// # <namespace>-<propertyType>[-propertyName]

// # ========== Root variabless
$body-fontSize: 16px !default;
$body-lineHeight: 24px !default;

$body-lineHeight-unitless: $body-lineHeight / $body-fontSize;
$body-fontSize-em: (strip-units($body-fontSize / 10)) + em;

// # ========== Debug variables
$debug: true !default;
$debug-size: strip-units($body-lineHeight) !default;

// # ========== List
$lists-detailedList-symbol  : '‣' !default;

// # ========== Fonts
$fonts-textRendering: optimizeLegibility !default;
$fonts-small-size: 75% !default;
$fonts-quotes: '“' '”' !default;

// # ========== Links
$links-textDecoration: none !default;
