// # =================================================================
// # Variables
// # =================================================================

@import 'utilities';

// # <namespace>-<propertyType>[-propertyName]

// # ========== Root variabless
$body-fontSize: 16px !default;
$body-lineHeight: 24px !default;
$body-fontFamily: sans-serif !default;

$body-lineHeight-unitless: $body-lineHeight / $body-fontSize;
$body-fontSize-em: (strip-units($body-fontSize / $body-fontSize)) + em;
$body-fontSize-rem: (strip-units($body-fontSize / $body-fontSize)) + rem;

// # ========== Headings
$headings-h1-fontSize: 2.2500rem !default;
$headings-h2-fontSize: 1.8750rem !default;
$headings-h3-fontSize: 1.5000rem !default;
$headings-h4-fontSize: 1.1250rem !default;
$headings-h5-fontSize: 1.0000rem !default;
$headings-h6-fontSize: 0.8750rem !default;

$headings-fontWeight: 500;

// # ========== Rhythm
$rhythm-h1-marginTop: 0.6667em !default;
$rhythm-h2-marginTop: 0.8000em !default;
$rhythm-h3-marginTop: 1.0000em !default;
$rhythm-h4-marginTop: 1.3333em !default;
$rhythm-h5-marginTop: 1.5000em !default;
$rhythm-h6-marginTop: 1.7143em !default;

$rhythm-h1-lineHeight: 1.3333em !default;
$rhythm-h2-lineHeight: 1.6000em !default;
$rhythm-h3-lineHeight: 1.0000em !default;
$rhythm-h4-lineHeight: 1.3333em !default;
$rhythm-h5-lineHeight: 1.5000em !default;
$rhythm-h6-lineHeight: 1.7143em !default;

$spacer: $body-lineHeight !default;

// # ========== Bloquote
$bloquote-border: 3px solid #ccc !default;

// # ========== Debug variables
$debug: false !default;
$debug-size: strip-units($body-lineHeight) !default;

// # ========== Fonts
$fonts-textRendering: optimizeLegibility !default;
$fonts-small-size: 75% !default;

// # ========== Code
$code-fontSize: $body-fontSize-rem !default;
