// == typ-with-addons.css 1.0.0
// -- A simple and minial typography template!
// ## Copyright 2015 Filipe Linhares.
// ## MIT License

@import 'typ';

// # =================================================================
// # Addons
// # =================================================================

// # https://css-tricks.com/snippets/css/blurry-text
.u-textBlur {
  color: transparent;
  text-shadow: 0 0 .5rem rgba(0,0,0,0.5);
}

.u-dropcap:first-letter {
  float: left;
  padding-top: .8rem;
  padding-right: 1.4rem;
  font-size: 8.6rem;
  color: #333;
}

.u-code {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #C7254E;
  background-color: #F9F2F4;
  border-radius: .4rem;
}

.u-kbd {
  padding: .2rem .4rem;
  font-size: 90%;
  color: #333;
  background-color: #fff;
  border-radius: .3rem;
  box-shadow: 0 0 .2rem rgba(0, 0, 0, .5);
}
