// == typ.css 1.0.0
// -- A simple and minial typography template!
// ## Copyright 2015 Filipe Linhares.
// ## MIT License

@import 'variables';

// # Base
// # =================================================================

:root {
  font-size: 100%;
  hyphens: auto;
  text-rendering: $fonts-textRendering;
  text-size-adjust: 100%;
}

body {
  font-family: $body-fontFamily;
  font-size: $body-fontSize-em;
  line-height: $body-lineHeight-unitless;
  @if $debug == true {
    background-image: url('http://basehold.it/i/#{$debug-size}');
  }
}

// # Headings
// # =================================================================

h1, h2, h3, h4, h5, h6,
.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
  margin-bottom: $spacer;
}

// Prevent to use in inline elements
.u-h1, .u-h2, .u-h3, .u-h4, .u-h5, .u-h6 {
  display: block;
  font-weight: $headings-fontWeight;
}

h1,
.u-h1 {
  font-size: $headings-h1-fontSize;
  margin-top: $rhythm-h1-marginTop;
  line-height: $rhythm-h1-lineHeight;
}

h2,
.u-h2 {
  font-size: $headings-h2-fontSize;
  margin-top: $rhythm-h2-marginTop;
  line-height: $rhythm-h2-lineHeight;
}

h3,
.u-h3 {
  font-size: $headings-h3-fontSize;
  margin-top: $rhythm-h3-marginTop;
  line-height: $rhythm-h3-lineHeight;
}

h4,
.u-h4 {
  font-size: $headings-h4-fontSize;
  margin-top: $rhythm-h4-marginTop;
  line-height: $rhythm-h4-lineHeight;
}

h5,
.u-h5 {
  font-size: $headings-h5-fontSize;
  margin-top: $rhythm-h5-marginTop;
  line-height: $rhythm-h5-lineHeight;
}

h6,
.u-h6 {
  font-size: $headings-h6-fontSize;
  margin-top: $rhythm-h6-marginTop;
  line-height: $rhythm-h6-lineHeight;
}

// # Basic
// # =================================================================

p { margin-bottom: $spacer; }

blockquote,
.u-quote {
  padding-left: $spacer;
  margin-bottom: $spacer;
  color: #666;
  border-left: $bloquote-border;

  p { margin-bottom: 0; }
}

em,
.u-textEm { font-style: italic; }

small,
.small { font-size: $fonts-small-size; }

b,
strong,
.u-textBold { font-weight: 700; }

abbr {
  font-weight: 600;
  cursor: help;
}

figcaption {
  display: block;
  font-size: inherit;
  font-style: italic;
  margin-top: $spacer;
}

// # https://gist.github.com/unruthless/413930
sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }
var { font-style: italic; }

// # Lists
// # =================================================================

ul { list-style: circle inside; }
ol { list-style: decimal inside; }

ol, ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: $spacer;
}

ul ul,
ul ol,
ol ol,
ol ul { margin: $spacer 0 $spacer 3rem; }

dl {
  padding: 0;
  margin: 0;
}

dt {
  padding: 0;
  margin: 0;
  font-weight: bold;
  line-height: 1.5;
}

dd {
  padding: 0;
  margin: 0 0 $spacer 0;
  line-height: 1.5;
}

// # Code
// # =================================================================

pre code {
  font-size: $code-fontSize;
  word-wrap: normal;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

pre,
code {
  white-space: -moz-pre-wrap;
  white-space: pre;
  margin-top: 0;
  margin-bottom: $spacer;
}

code,
kbd,
pre,
samp { overflow-x: auto; }
